<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="poly.persistance.mapper.UserMapper">
	
<select id="getUserList" resultType="UserDTO">
	SELECT 
		user_seq,
		user_id,
		user_name,
		user_email
	FROM	
		USER_INFO
</select>
	
	
	<!-- 로그인  -->
<select id="getUserLogin" parameterType="UserDTO" resultType="UserDTO">
	SELECT USER_SEQ AS USER_SEQ,
	USER_ID,
	USER_PASSWORD,
	USER_NAME,
	USER_GENDER,
	USER_EMAIL,
	USER_BIRTHDAY,
	USER_PHONENUMBER
	
	FROM USER_INFO
	WHERE USER_ID=#{user_id} AND USER_PASSWORD=#{user_password}	
</select>
	
	
	<!-- 회원가입 -->
	
	<insert id="insertUserReg" parameterType="UserDTO">
	INSERT INTO USER_INFO
	(
	USER_ID,
	USER_PASSWORD,
	USER_PASSWORD_CK,
	USER_NAME,
	USER_GENDER,
	USER_EMAIL,
	USER_BIRTHDAY,
	USER_BIRTHDAY2,
	USER_BIRTHDAY3,
	USER_PHONENUMBER
	)
	VALUES
	(
	#{user_id},
	#{user_password},
	#{user_password_ck},
	#{user_name},
	#{user_gender},
	#{user_email},
	#{user_birthday},
	#{user_birthday2},
	#{user_birthday3},
	#{user_phoneNumber}
	)
	</insert>
	
<select id="getIdFind" parameterType="UserDTO" resultType="String">
	SELECT USER_ID	
	FROM USER_INFO
	WHERE USER_NAME=#{user_name} AND USER_EMAIL=#{user_email}	
</select>

<select id="getPasswordFind" parameterType="UserDTO" resultType="String">
	SELECT USER_PASSWORD	
	FROM USER_INFO
	WHERE USER_ID=#{user_id} AND USER_NAME=#{user_name} AND USER_EMAIL=#{user_email}	
</select>

<select id="getUseridCheck" parameterType="string" resultType="int">
SELECT COUNT(*)
FROM USER_INFO
WHERE USER_ID=#{user_id}
</select>


<select id="getUserInfo" parameterType="string" resultType="UserDTO">
	SELECT
		user_seq,
		user_id, 
		user_password,
		user_name,
		user_birthday,
		user_birthday2,
		user_birthday3,
		user_gender, 
		user_email,
		user_phoneNumber
	FROM 
		USER_INFO
	WHERE (user_seq = #{usr})
</select>

<!-- 회원 탈퇴 -->
<delete id="DeleteUser" parameterType="UserDTO">
DELETE FROM USER_INFO WHERE user_seq=#{user_seq}
</delete>

<!-- 회원정보 수정 -->
<update id="UpdateUser" parameterType="UserDTO">
UPDATE USER_INFO
SET
user_password = #{user_password},
user_email = #{user_email},
user_phoneNumber = #{user_phoneNumber}
WHERE user_seq=#{user_seq}
</update>


	
</mapper>